 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 html {
  background: gray;
   font-size: 20px;
    
 }

 body {  
   font-family: serif;
 }

 span {
   background-color: brown
 }

 strong {
   color: rebeccapurple
 }

 em {
   color: rebeccapurple;
 }

 * {
   margin: 0;
 }



 
 ul {
   background: whitesmoke;
   padding: 20px;
   border: 1px solid black;
 }

 li {
   margin-left: 10px;
 }

 nav {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
 }

 nav a {
    color: black;
    padding: 10px;
    display: block;
 }

 h1 {
  color: black;
  padding: 1rem;
 }

 h2 {
  color: white;
 }

 h3 {
  color: white;
 }

 main {
  max-width: 840px;
  position: relative;
 }

 main img {
   width: 650px;
   height: auto;
   border: 1px solid gray;
   padding: 2px;
   box-shadow: 0 0 30px gray;
   float: right;
  margin: 0 0 1rem 1rem;
 }

 p {
  margin: 1rem;
 }

 aside {
   width: 20em;
   top: 50px;
   left: 15px;
   text-align: right;
   position: absolute;}
  p {
      color: white;
    
  }

 aside img {
   width: 100px;
   height: auto;
   float: left;}

aside h2 {
  top: 40px;
  left: 93px;
  position: absolute;
}




    section {
      width: 20em;
      text-align: center;
      
    }
  
    section img {
      width: 200px;
      height: auto;
  
    }
  
    section h2 {
      top: 40px;
      left: 93px;
      color: black;
    }
      
 p {
   padding: 0;
 }

 footer {
   margin-top: 15px;
   border-top: 1px solid #000;
   text-align: center;
 }

 #highlight {
  text-decoration: underline;
  background-color: lightyellow;
  padding: 1rem;
 }
 .highlight {
  background-color: lightyellow;
  padding: 1rem;
 }
/* Class selector */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 /10%);
  padding: 0rem;
  background-color:  black;
  color: #000;
 }

 .indent {
  margin-left: 2rem;
 }

 header,
 footer {
   max-width: 840px;
   margin: 0 auto;
 }

 nav {
   background-color: steelblue;
   padding: 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 nav a {
   display: block;
   padding: 0.5rem;
   text-decoration: none;
   font-size: 1.2rem;
   font-weight: 700;
   color: #fff;
 }

 .grid {
   display: grid;
   align-items: center;
 }

 main {
   grid-column: 2/3;
   margin: 1rem;
 }

 aside {
   width: 20rem;
   position: relative;
   grid-column: 1/2;
   grid-row: 1/2;
 }

