 html {
  background: green;
   font-size: 20px;
 }

 body {
   font-family: sans-serif;
 }

 span {
   background-color: black;
 }

 strong {
   color: rebeccapurple
 }

 em {
   color: rebeccapurple;
 }

 body {
   font-family: sans-serif;
 }

 .notebox {
   border: 4px solid #666;
   padding: 0.5em;
   margin: 0.5em;
 }

 .notebox.warning {
   border-color: orange;
   font-weight: bold;
 }

 .notebox.danger {
   border-color: red;
   font-weight: bold;
 }

 #one {
   background-color: yellow;
 }

 h1#heading {
   color: rebeccapurple;
 }

 * {
   margin: 0;
 }

 section {
   box-sizing: border-box;
   border: 1px solid blue;
   width: 100%;
   float: left;
 }

 div {
   margin: 5px;
   width: 50px;
   height: 150px;
 }

 .notebox {
   float: right;
   background: pink;
 }

 .notebox.warning {
   float: right;
   background: cyan;
 }

 .notebox.danger {
   float: left;
   background: yellow;
 }

 .danger {
   float: left;
   background: orange;  }



 {
   background: red;
 }



 ul {
   background: black;
   padding: 10px;
   border: 1px solid black;
 }

 li {
   margin-left: 20px;
 }

 nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
 }

 nav a {
    color: white;
    padding: 10px;
    display: block;
 }

 h1 {
  color: steelblue
  
 }

 p {
  color: white;
 }

 main {
  max-width: 840px;
 }

 main img {
   width: 150px;
   height: auto;
   border: 1px solid steelblue;
   padding: 2px;
   box-shadow: 0 0 30px gray;
 }

 p {
   padding: 0;
 }

 aside {
   width: 20em;
   margin: 1em;
   border: 1px solid rgba(0,0,0/0.2);
   padding: 1em;
   background-color: #333;
   color: #eee;
   text-align: center;}

 aside img {
   width: 200px;
   height: auto;
 }

 main img {
   width: 150px;
   height: auto;
 }

 p {
   padding: 0;
 }

 footer {
   margin-top: 15px;
   border-top: 1px solid #000;
   text-align: center;
 }

 #highlight {
  text-decoration: underline;
  background-color: lightyellow;
  padding: 1rem;
 }

